<launch>
        <node pkg="tf2_ros" type="static_transform_publisher" name="ned_to_enu_pub" args="0 0 0 1.57 0 3.14 world_ned world_enu"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="enu_to_world_pub" args="0 0 0 0 0 0 world_enu world"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="world_map_linker" args="0 0 0 0 0 0 world map" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="tf_camera" args="0 0 0 0 0 0 PX4 base_link"/>
</launch>